In [83]:
import pandas as pd 
import os

### Declare Dataset

In [2]:
#Customer
df_customer = pd.read_csv(r"F:\Portofolio\Warehousing\data\raw\olist_customers_dataset.csv")

#Geolocation
df_geolocation = pd.read_csv(r"F:\Portofolio\Warehousing\data\\raw\olist_geolocation_dataset.csv")

#Order Items
df_order_items = pd.read_csv(r"F:\Portofolio\Warehousing\data\raw\olist_order_items_dataset.csv")

#Order Payment
df_order_payment = pd.read_csv(r"F:\Portofolio\Warehousing\data\raw\olist_order_payments_dataset.csv")

#Order Review
df_order_review = pd.read_csv(r"F:\Portofolio\Warehousing\data\raw\olist_order_reviews_dataset.csv")

#Order Delivery
df_order_delivery = pd.read_csv(r"F:\Portofolio\Warehousing\data\raw\olist_orders_dataset.csv")

#Product
df_product = pd.read_csv(r"F:\Portofolio\Warehousing\data\raw\olist_products_dataset.csv")

#Address
df_address = pd.read_csv(r"F:\Portofolio\Warehousing\data\raw\olist_sellers_dataset.csv")

#Category
df_category = pd.read_csv(r"F:\Portofolio\Warehousing\data\raw\product_category_name_translation.csv")

### Data Preparation Stage

#### Customer

In [3]:
df_customer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               99441 non-null  object
 1   customer_unique_id        99441 non-null  object
 2   customer_zip_code_prefix  99441 non-null  int64
 3   customer_city             99441 non-null  object
 4   customer_state            99441 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.8+ MB

In [4]:
df_customer.count()

customer_id                 99441
customer_unique_id          99441
customer_zip_code_prefix    99441
customer_city               99441
customer_state              99441
dtype: int64

In [5]:
df_customer.isnull().sum()

customer_id                 0
customer_unique_id          0
customer_zip_code_prefix    0
customer_city               0
customer_state              0
dtype: int64

In [6]:
df_customer.duplicated().sum()

0

In [7]:
for col in ["customer_city", "customer_state"]:
    print(col, ":", df_customer[col].unique())

customer_city : ['franca' 'sao bernardo do campo' 'sao paulo' ... 'monte bonito'
 'sao rafael' 'eugenio de castro']
customer_state : ['SP' 'SC' 'MG' 'PR' 'RJ' 'RS' 'PA' 'GO' 'ES' 'BA' 'MA' 'MS' 'CE' 'DF'
 'RN' 'PE' 'MT' 'AM' 'AP' 'AL' 'RO' 'PB' 'TO' 'PI' 'AC' 'SE' 'RR']

In [84]:
df_customer.to_csv("../data/processed/customer_cleaned.csv", index=False)

#### Geolocation

In [8]:
df_geolocation.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000163 entries, 0 to 1000162
Data columns (total 5 columns):
 #   Column                       Non-Null Count    Dtype
---  ------                       --------------    -----
 0   geolocation_zip_code_prefix  1000163 non-null  int64
 1   geolocation_lat              1000163 non-null  float64
 2   geolocation_lng              1000163 non-null  float64
 3   geolocation_city             1000163 non-null  object
 4   geolocation_state            1000163 non-null  object
dtypes: float64(2), int64(1), object(2)
memory usage: 38.2+ MB

In [9]:
df_geolocation.count()

geolocation_zip_code_prefix    1000163
geolocation_lat                1000163
geolocation_lng                1000163
geolocation_city               1000163
geolocation_state              1000163
dtype: int64

In [10]:
for col in ["geolocation_city", "geolocation_state"]:
    print(col, ":", df_geolocation[col].unique())

geolocation_city : ['sao paulo' 'são paulo' 'sao bernardo do campo' ... 'ciríaco' 'estação'
 'vila lângaro']
geolocation_state : ['SP' 'RN' 'AC' 'RJ' 'ES' 'MG' 'BA' 'SE' 'PE' 'AL' 'PB' 'CE' 'PI' 'MA'
 'PA' 'AP' 'AM' 'RR' 'DF' 'GO' 'RO' 'TO' 'MT' 'MS' 'RS' 'PR' 'SC']

In [85]:
df_geolocation.to_csv("../data/processed/geolocation_cleaned.csv", index=False)

#### Order Items

In [11]:
df_order_items.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 7 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   order_id             112650 non-null  object
 1   order_item_id        112650 non-null  int64
 2   product_id           112650 non-null  object
 3   seller_id            112650 non-null  object
 4   shipping_limit_date  112650 non-null  object
 5   price                112650 non-null  float64
 6   freight_value        112650 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 6.0+ MB

In [12]:
df_order_items.count()

order_id               112650
order_item_id          112650
product_id             112650
seller_id              112650
shipping_limit_date    112650
price                  112650
freight_value          112650
dtype: int64

In [13]:
df_order_items[["price", "freight_value"]].describe()

               price  freight_value
count  112650.000000  112650.000000
mean      120.653739      19.990320
std       183.633928      15.806405
min         0.850000       0.000000
25%        39.900000      13.080000
50%        74.990000      16.260000
75%       134.900000      21.150000
max      6735.000000     409.680000

In [14]:
df_order_items[["price", "freight_value"]].corr()

                  price  freight_value
price          1.000000       0.414204
freight_value  0.414204       1.000000

In [15]:
df_order_items.isnull().sum()

order_id               0
order_item_id          0
product_id             0
seller_id              0
shipping_limit_date    0
price                  0
freight_value          0
dtype: int64

In [86]:
df_order_items.to_csv("../data/processed/order_items_cleaned.csv", index=False)

#### Order Payment

In [16]:
df_order_payment.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103886 entries, 0 to 103885
Data columns (total 5 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   order_id              103886 non-null  object
 1   payment_sequential    103886 non-null  int64
 2   payment_type          103886 non-null  object
 3   payment_installments  103886 non-null  int64
 4   payment_value         103886 non-null  float64
dtypes: float64(1), int64(2), object(2)
memory usage: 4.0+ MB

In [17]:
df_order_payment.head()

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45

In [18]:
df_order_payment.isnull().sum()

order_id                0
payment_sequential      0
payment_type            0
payment_installments    0
payment_value           0
dtype: int64

In [19]:
df_order_payment.duplicated().sum()

0

In [20]:
for col in ["payment_type"]:
    print(col, ":", df_order_payment[col].unique())

payment_type : ['credit_card' 'boleto' 'voucher' 'debit_card' 'not_defined']

In [21]:
df_order_payment[["payment_installments", "payment_value"]].describe()

       payment_installments  payment_value
count         103886.000000  103886.000000
mean               2.853349     154.100380
std                2.687051     217.494064
min                0.000000       0.000000
25%                1.000000      56.790000
50%                1.000000     100.000000
75%                4.000000     171.837500
max               24.000000   13664.080000

In [87]:
df_order_payment.to_csv("../data/processed/order_payment_cleaned.csv", index=False)

#### Order Review

In [22]:
df_order_review.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99224 entries, 0 to 99223
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   review_id                99224 non-null  object
 1   order_id                 99224 non-null  object
 2   review_score             99224 non-null  int64
 3   review_comment_title     11568 non-null  object
 4   review_comment_message   40977 non-null  object
 5   review_creation_date     99224 non-null  object
 6   review_answer_timestamp  99224 non-null  object
dtypes: int64(1), object(6)
memory usage: 5.3+ MB

In [23]:
df_order_review.describe()

       review_score
count  99224.000000
mean       4.086421
std        1.347579
min        1.000000
25%        4.000000
50%        5.000000
75%        5.000000
max        5.000000

In [24]:
df_order_review.count()

review_id                  99224
order_id                   99224
review_score               99224
review_comment_title       11568
review_comment_message     40977
review_creation_date       99224
review_answer_timestamp    99224
dtype: int64

In [25]:
df_order_review.isna().sum()

review_id                      0
order_id                       0
review_score                   0
review_comment_title       87656
review_comment_message     58247
review_creation_date           0
review_answer_timestamp        0
dtype: int64

In [26]:
# Filling NULL Data With Unknown
df_order_review["review_comment_title"] = df_order_review["review_comment_title"].fillna("Unknown")

df_order_review["review_comment_message"] = df_order_review["review_comment_message"].fillna("Unknown")

In [27]:
df_order_review.duplicated().sum()

0

In [88]:
df_order_review.to_csv("../data/processed/order_review_cleaned.csv", index=False)

#### Order Delivery

In [28]:
df_order_delivery.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  object
 4   order_approved_at              99281 non-null  object
 5   order_delivered_carrier_date   97658 non-null  object
 6   order_delivered_customer_date  96476 non-null  object
 7   order_estimated_delivery_date  99441 non-null  object
dtypes: object(8)
memory usage: 6.1+ MB

In [29]:
df_order_delivery.duplicated().sum()

0

In [30]:
df_order_delivery.count()

order_id                         99441
customer_id                      99441
order_status                     99441
order_purchase_timestamp         99441
order_approved_at                99281
order_delivered_carrier_date     97658
order_delivered_customer_date    96476
order_estimated_delivery_date    99441
dtype: int64

In [31]:
df_order_delivery.isna().sum()

order_id                            0
customer_id                         0
order_status                        0
order_purchase_timestamp            0
order_approved_at                 160
order_delivered_carrier_date     1783
order_delivered_customer_date    2965
order_estimated_delivery_date       0
dtype: int64

In [32]:
# Filling Missing Value

df_order_delivery["order_approved_at"] = df_order_delivery["order_approved_at"].fillna("Unknown")

df_order_delivery["order_delivered_carrier_date"] = df_order_delivery["order_delivered_carrier_date"].fillna("Unknown")

df_order_delivery["order_delivered_customer_date"] = df_order_delivery["order_delivered_customer_date"].fillna("Unknown")

In [89]:
df_order_delivery.to_csv("../data/processed/order_delivery_cleaned.csv", index=False)

#### Products

In [33]:
df_product.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32951 entries, 0 to 32950
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   product_id                  32951 non-null  object
 1   product_category_name       32341 non-null  object
 2   product_name_lenght         32341 non-null  float64
 3   product_description_lenght  32341 non-null  float64
 4   product_photos_qty          32341 non-null  float64
 5   product_weight_g            32949 non-null  float64
 6   product_length_cm           32949 non-null  float64
 7   product_height_cm           32949 non-null  float64
 8   product_width_cm            32949 non-null  float64
dtypes: float64(7), object(2)
memory usage: 2.3+ MB

In [34]:
df_product.head()

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,bebes,27.0,261.0,1.0,371.0,26.0,4.0,26.0
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37.0,402.0,4.0,625.0,20.0,17.0,13.0

Recording by dataset source :

1. product_name_length : number of characters extracted from the product name.

2. product_description_length : number of characters extracted from the product description.

3. product_photos_qty : number of product published photos.

there 3 attribute is refer for product description component, so that we can said that is not very important

4. product length measured in centimeters.

5. product height measured in centimeters.

6. product width measured in centimeters.

In [44]:
df_product = df_product.drop(
    ["product_name_length", "product_description_lenght", "product_photos_qty", "product_name_lenght"],
    axis='columns',
    errors='ignore'
)

In [45]:
df_product.head()

,product_id,product_category_name,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,154.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,bebes,371.0,26.0,4.0,26.0
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,625.0,20.0,17.0,13.0

In [46]:
df_product.describe()

,product_weight_g,product_length_cm,product_height_cm,product_width_cm
count,32949.000000,32949.000000,32949.000000,32949.000000
mean,2276.472488,30.815078,16.937661,23.196728
std,4282.038731,16.914458,13.637554,12.079047
min,0.000000,7.000000,2.000000,6.000000
25%,300.000000,18.000000,8.000000,15.000000
50%,700.000000,25.000000,13.000000,20.000000
75%,1900.000000,38.000000,21.000000,30.000000
max,40425.000000,105.000000,105.000000,118.000000

In [47]:
df_product.isna().sum()

product_id                 0
product_category_name    610
product_weight_g           2
product_length_cm          2
product_height_cm          2
product_width_cm           2
dtype: int64

In [48]:
#Filling The Missing Value

df_product["product_category_name"] = df_product["product_category_name"].fillna("Unknown")

In [51]:
df_product.duplicated().sum()

0

In [57]:
#Filling The Missing Value By Length, Height, and Width

print("Weight Skewness", df_product["product_weight_g"].skew())
print("Length Skewness", df_product["product_length_cm"].skew())
print("Width Skewness", df_product["product_width_cm"].skew())

Weight Skewness 3.604859782275307
Length Skewness 1.7504597083360067
Width Skewness 1.6709713361516598

In [ ]:
df_product.fillna({col: df_product[col].median() 
                    for col in ['product_weight_g', 'product_length_cm',
                    'product_height_cm', 'product_width_cm']}, inplace=True)

In [71]:
df_product.isna().sum()

product_id               0
product_category_name    0
product_weight_g         0
product_length_cm        0
product_height_cm        0
product_width_cm         0
dtype: int64

In [72]:
df_product.count()

product_id               32951
product_category_name    32951
product_weight_g         32951
product_length_cm        32951
product_height_cm        32951
product_width_cm         32951
dtype: int64

In [90]:
df_product.to_csv("../data/processed/product_cleaned.csv", index=False)

#### Address

In [73]:
df_address.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3095 entries, 0 to 3094
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   seller_id               3095 non-null   object
 1   seller_zip_code_prefix  3095 non-null   int64
 2   seller_city             3095 non-null   object
 3   seller_state            3095 non-null   object
dtypes: int64(1), object(3)
memory usage: 96.8+ KB

In [74]:
for col in ["seller_city", "seller_state"]:
    print(col, ":", df_address[col].unique())

seller_city : ['campinas' 'mogi guacu' 'rio de janeiro' 'sao paulo' 'braganca paulista'
 'brejao' 'penapolis' 'curitiba' 'anapolis' 'itirapina' 'tubarao'
 'lauro de freitas' 'imbituba' 'brasilia' 'porto seguro' 'guaruja'
 'tabatinga' 'salto' 'tres de maio' 'belo horizonte' 'arapongas'
 'sao bernardo do campo' 'tatui' 'garopaba' 'camanducaia' 'tupa'
 'guarulhos' 'sao jose dos pinhais' 'sao ludgero' 'sao jose' 'piracicaba'
 'porto alegre' 'congonhal' 'santo andre' 'osasco' 'valinhos' 'joinville'
 'saquarema' 'barra velha' 'petropolis' 'santo antonio da patrulha'
 'ponta grossa' 'santana de parnaiba' 'sao carlos' 'ibitinga' 'barueri'
 'caxias do sul' 'araguari' 'contagem' 'jaragua do sul' 'lages - sc'
 'bento goncalves' 'catanduva' 'ribeirao pires' 'jaboticabal' 'echapora'
 'cotia' 'rio do sul' 'sorocaba' 'pradopolis' 'itaborai' 'mirassol'
 'birigui' 'assis' 'jaguariuna' 'araraquara' 'macae' 'rio claro'
 'londrina' 'ribeirao preto' 'tres coracoes' 'nhandeara' 'orleans'
 'cuiaba' 'formosa do oeste' 'santos' 'santa terezinha de goias'
 'arvorezinha' 'guiricema' 'caruaru' 'franca' 'salvador' 'diadema'
 'itaquaquecetuba' 'lencois paulista' 'carapicuiba' 'uruacu' 'itajai'
 'loanda' 'maringa' 'ferraz de vasconcelos' 'limeira' 'claudio' 'niteroi'
 'osvaldo cruz' 'sao goncalo' 'jaciara' 'balenario camboriu' 'timbo'
 'jacutinga' 'fortaleza' 'ferraz de  vasconcelos' 'mirandopolis' 'bauru'
 'jacarei' 'itu' 'laranjeiras do sul' 'videira' 'florianopolis'
 'itapecerica da serra' 'mamanguape' 'ponte nova' 'goioere' 'pederneiras'
 'itapevi' 'goiania' 'campina grande' 'estancia velha' 'resende' 'maua'
 'caratinga' 'auriflama/sp' 'cafelandia' 'uba' 'sao paulo / sao paulo'
 'sao jose do rio preto' 'porto ferreira' 'tres coroas' 'blumenau'
 'mogi das cruzes' 'jaci' 'laranjal paulista' 'americana' 'sertanopolis'
 'apucarana' 'colombo' 'vicente de carvalho' 'mesquita' 'sao pauo'
 'cascavel' 'fazenda rio grande' 'taboao da serra' 'sao jose dos campos'
 'toledo' 'marechal candido rondon' 'jundiai' 'mandirituba' 'suzano'
 'vespasiano' 'santa rosa' 'sao joaquim da barra' 'santo antonio de posse'
 'uruguaiana' 'campanha' 'piracanjuba' 'concordia' 'santa rita do sapucai'
 'barretos' 'indaiatuba' 'nilopolis' 'pompeia' 'barro alto' 'são paulo'
 'praia grande' 'luiz alves' 'brusque' 'criciuma' 'jales' 'atibaia'
 'rio branco' 'barra mansa' 'marilia' 'bahia' 'taubate' 'cascavael'
 'monteiro lobato' 'viana' 'paraiba do sul' 'mococa' 'sao roque' 'passos'
 'francisco beltrao' 'tocantins' 'porto belo' 'nova iguacu' 'icara'
 'lajeado' 'horizontina' 'votorantim' 'campo bom' 'monte alto'
 'fernandopolis' 'pedreira' 'poa' 'divinopolis' 'santa barbara d´oeste'
 'canoas' 'mombuca' 'sete lagoas' 'campo do meio' 'cordeiropolis'
 'uberlandia' 'santa barbara d oeste' 'volta redonda' '04482255'
 'aracatuba' 'monte siao' 'garuva' 'bonfinopolis de minas' 'cosmopolis'
 'pocos de caldas' 'artur nogueira' 'joao pessoa' 'dois corregos'
 'araquari' 'novo hamburgo, rio grande do sul, brasil' 'floranopolis'
 'sumare' 'guaira' 'cachoeiro de itapemirim' 'serrana' 'rolandia'
 'congonhas' 'sao  jose dos pinhais' 'boituva' 'mairipora' 'guaimbe'
 'parai' 'aperibe' 'jaguaruna' 'vila velha' 'juiz de fora' 'fronteira'
 'novo horizonte' 'pilar do sul' 'itajobi' 'cariacica / es' 'prados'
 'mucambo' 'montes claros' 'vicosa' 'porto velho' 'sao jose do rio pardo'
 'pato branco' 'sao joao del rei' 'presidente prudente' 'paracambi'
 'serra negra' 'sao caetano do sul' 'bom jardim' 'serra redonda'
 'sao francisco do sul' 'betim' 'imbituva' 'guaratuba' 'teresina'
 "sao miguel d'oeste" 'california' 'japira' 'foz do iguacu'
 'nova friburgo' 'itau de minas' 'oliveira' 'sabara' 'pedrinhas paulista'
 'votuporanga' 'holambra' 'ararangua' 'pinhais' 'pato bragado' 'carazinho'
 'arinos' 'sao pedro' 'lages' 'ampere' 'itauna' 'mogi mirim' 'curitibanos'
 'brasilia df' 'mogi das cruses' 'hortolandia' 'ipatinga' 'laguna'
 'dores de campos' 'sao paulo - sp' 'araras' 'divisa nova'
 'igaracu do tiete' 'pitangueiras' 'campo grande' 'garca'
 'presidente epitacio' 'sbc/sp' "arraial d'ajuda (porto seguro)"
 'pacatuba' 'formosa' 'borda da mata' 'ubatuba' 'entre rios do oeste'
 'formiga' 'venancio aires' 'navegantes' 'cruzeiro' 'santa maria' 'muriae'
 'santo andre/sao paulo' 'ipe' 'messias targino' 'varginha' 'botucatu'
 'domingos martins' 'uberaba' 'coronel fabriciano' 'cachoeirinha'
 's jose do rio preto' 'taruma' 'pirassununga' 'aruja' 'sp / sp'
 'angra dos reis' 'juzeiro do norte' 'laurentino' 'flores da cunha'
 'montenegro' 'pedregulho' 'novo hamburgo' 'torres' 'aracaju'
 'santa catarina' 'joao pinheiro' 'bady bassitt' 'sinop' 'guarapuava'
 'araucaria' 'vitoria' 'batatais' 'lagoa santa' 'chapeco' 'umuarama'
 'belford roxo' 'cariacica' 'monte alegre do sul' 'sp' 'lagoa da prata'
 'rolante' 'teresopolis' 'itaporanga' 'campo largo' 'sao joao de meriti'
 'maua/sao paulo' 'bom jesus dos perdoes' 'brotas' 'irece' 'coxim' 'jau'
 'conselheiro lafaiete' 'amparo' 'sao miguel do oeste' 'gaspar'
 'rio bonito' 'mandaguari' 'vargem grande paulista' 'conchal' 'cambe'
 'marialva' 'alfenas' 'balneario camboriu' 'palhoca'
 'sao bernardo do capo' 'guara' 'colatina' 'franco da rocha' 'lambari'
 'mogi das cruzes / sp' 'treze tilias' 'rio de janeiro \\rio de janeiro'
 'paulo lopes' 'santa cecilia' 'braco do norte' 'floresta' 'farroupilha'
 'castro' 'luziania' 'joao monlevade' 'pelotas' 'sao bento'
 'campos dos goytacazes' 'ouro fino' 'sao jose dos pinhas' 'tiete'
 'viamao' 'janauba' 'capivari' 'santa terezinha de itaipu' 'igrejinha'
 'sao bento do sul' 'duque de caxias' 'araxa' 'canoinhas' 'recife'
 'barbacena/ minas gerais' 'vera cruz' 'parnamirim' 'santo angelo'
 'paincandu' 'tres rios' 'tanabi' 'portoferreira' 'itatiba' 'sarandi'
 'cravinhos' 'morrinhos' 'bebedouro' 'almirante tamandare' 'bertioga'
 'natal' 'belo horizont' 'ivoti' 'andira-pr' 'cerqueira cesar' 'marapoama'
 'imigrante' 'mairinque' 'sao paulo sp' 'rio de janeiro / rio de janeiro'
 'andradas' 'sando andre' 'nova odessa' 'paulinia' 'extrema' 'olimpia'
 'angra dos reis rj' 'ronda alta' 'sao  paulo' 'sao vicente' 'pinhais/pr'
 'portao' 'registro' 'ao bernardo do campo' 'carmo do cajuru'
 'embu das artes' 'fernando prestes' 'castro pires' 'vargem grande do sul'
 'campina das missoes' 'sao pedro da aldeia' 'miguelopolis' 'itapui' 'sbc'
 'neopolis' 'mineiros do tiete' 'varzea paulista' 'nova lima' 'barbacena'
 'caieiras' 'buritama' 'erechim' 'itapetininga' 'pinhalzinho' 'descalvado'
 'pitanga' 'bage' 'taio' "santa barbara d'oeste" 'patos de minas'
 'garulhos' 'jarinu' 'nova petropolis' 'ribeirao preto / sao paulo'
 'camboriu' 'nova trento' 'sao luis' 'sao jose do rio pret' 'eusebio'
 'itaipulandia' 'ipira' 'campo magro' 'tiradentes' 'sao paluo' 'baependi'
 'embu guacu' 'paraiso do sul' 'aparecida' 'cataguases' 'bariri'
 'abadia de goias' 'alambari' 'ji parana' 'vassouras' 'lorena' 'rodeio'
 'louveira' 'guanhaes' 'santo antonio de padua' 'presidente getulio'
 'campos novos' 'eunapolis' 'engenheiro coelho' 'rio das pedras'
 'afonso claudio' 'carapicuiba / sao paulo' 'centro' 'parana' 'indaial'
 'bombinhas' 'orlandia' 'itapeva' 'sao sebastiao' 'macatuba'
 'sao joao da boa vista' 'teixeira soares' 'mandaguacu' 'rio do oeste'
 'vendas@creditparts.com.br' 'armacao dos buzios' 'mateus leme'
 'sao paulop' 'campo limpo paulista' 'socorro' 'serra' 'bocaiuva do sul'
 'ilheus' 'imbe' 'soledade' 'cajamar' 'rio negrinho' 'clementina'
 'francisco morato' 'rio grande' 'xaxim' 'manaus' 'terra boa'
 'minas gerais' 'avare' 'ibirite' 'santa maria da serra' 'auriflama'
 'condor' 'ibia' 'guanambi' 'caucaia' 'cordilheira alta' 'carmo da mata'
 'ouro preto' 'pedro leopoldo' 'santa rosa de viterbo' 'xanxere'
 'alvares machado' 'scao jose do rio pardo' 'ribeirao das neves'
 'medianeira' 'massaranduba' 'cornelio procopio' 'pirituba' 'jambeiro'
 'sao leopoldo' 'aguas claras df' 'ribeirao pretp' 'cianorte'
 'feira de santana' 'cachoeira do sul' 'guariba'
 'sao sebastiao da grama/sp' 'dracena' 'ourinhos' 'robeirao preto'
 'cacador' 'gama' 'queimados' 'cananeia' 'presidente bernardes' 'pinhalao'
 'sombrio' 'campo mourao' 'ilicinea' 'itabira' 'barrinha' 'jussara'
 'uniao da vitoria' 'triunfo' 'santa cruz do sul' 'colorado' 'itapema'
 'sapiranga' 'paranavai' 'alvorada' 'ipaussu' 'rio verde' 'mage'
 'tabao da serra' 'bofete' 'picarras' 'marica' 'jaragua'
 'governador valadares' 'rio de janeiro, rio de janeiro, brasil'
 'pouso alegre' 'timoteo' 'muqui' 'ipua' 'jacarei / sao paulo'
 'varzea alegre' 'guaratingueta' 'tambau' 'irati' 'riberao preto'
 'aparecida de goiania' 'bandeirantes' 'vitoria de santo antao' 'palotina'
 'leme']
seller_state : ['SP' 'RJ' 'PE' 'PR' 'GO' 'SC' 'BA' 'DF' 'RS' 'MG' 'RN' 'MT' 'CE' 'PB'
 'AC' 'ES' 'RO' 'PI' 'MS' 'SE' 'MA' 'AM' 'PA']

In [75]:
df_address.isna().sum()

seller_id                 0
seller_zip_code_prefix    0
seller_city               0
seller_state              0
dtype: int64

In [76]:
df_address.duplicated().sum()

0

In [91]:
df_address.to_csv("../data/processed/address_cleaned.csv", index=False)

#### Category

In [77]:
df_category.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71 entries, 0 to 70
Data columns (total 2 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   product_category_name          71 non-null     object
 1   product_category_name_english  71 non-null     object
dtypes: object(2)
memory usage: 1.2+ KB

In [78]:
df_category.duplicated().sum()

0

In [79]:
df_category.isna().sum()

product_category_name            0
product_category_name_english    0
dtype: int64

In [82]:
df_category.head()

    product_category_name product_category_name_english
0            beleza_saude                 health_beauty
1  informatica_acessorios         computers_accessories
2              automotivo                          auto
3         cama_mesa_banho                bed_bath_table
4        moveis_decoracao               furniture_decor

In [92]:
df_category.to_csv("../data/processed/category_cleaned.csv", index=False)

### Explanatory Data Analysis